logic-dev-extended-attributes
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http"
            }
        },
        "actions": {
            "HTTP-copy": {
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/devices?$filter=isCompliant%20eq%20false",
                    "method": "GET",
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://graph.microsoft.com"
                    }
                },
                "runAfter": {
                    "array_of_noncompliant_devices": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP-copy')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "value": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "deletedDateTime": {},
                                        "accountEnabled": {
                                            "type": "boolean"
                                        },
                                        "approximateLastSignInDateTime": {
                                            "type": "string"
                                        },
                                        "complianceExpirationDateTime": {},
                                        "createdDateTime": {
                                            "type": "string"
                                        },
                                        "deviceCategory": {},
                                        "deviceId": {
                                            "type": "string"
                                        },
                                        "deviceMetadata": {},
                                        "deviceOwnership": {},
                                        "deviceVersion": {
                                            "type": "integer"
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "domainName": {},
                                        "enrollmentProfileName": {},
                                        "enrollmentType": {},
                                        "externalSourceName": {},
                                        "isCompliant": {},
                                        "isManaged": {},
                                        "isRooted": {},
                                        "managementType": {},
                                        "manufacturer": {},
                                        "mdmAppId": {},
                                        "model": {},
                                        "onPremisesLastSyncDateTime": {},
                                        "onPremisesSyncEnabled": {},
                                        "operatingSystem": {
                                            "type": "string"
                                        },
                                        "operatingSystemVersion": {
                                            "type": "string"
                                        },
                                        "physicalIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "profileType": {
                                            "type": "string"
                                        },
                                        "registrationDateTime": {
                                            "type": "string"
                                        },
                                        "sourceType": {},
                                        "systemLabels": {
                                            "type": "array"
                                        },
                                        "trustType": {
                                            "type": "string"
                                        },
                                        "extensionAttributes": {
                                            "type": "object",
                                            "properties": {
                                                "extensionAttribute1": {},
                                                "extensionAttribute2": {},
                                                "extensionAttribute3": {},
                                                "extensionAttribute4": {},
                                                "extensionAttribute5": {},
                                                "extensionAttribute6": {},
                                                "extensionAttribute7": {},
                                                "extensionAttribute8": {},
                                                "extensionAttribute9": {},
                                                "extensionAttribute10": {},
                                                "extensionAttribute11": {},
                                                "extensionAttribute12": {},
                                                "extensionAttribute13": {},
                                                "extensionAttribute14": {},
                                                "extensionAttribute15": {}
                                            }
                                        },
                                        "alternativeSecurityIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "integer"
                                                    },
                                                    "identityProvider": {},
                                                    "key": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "identityProvider",
                                                    "key"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "deletedDateTime",
                                        "accountEnabled",
                                        "approximateLastSignInDateTime",
                                        "complianceExpirationDateTime",
                                        "createdDateTime",
                                        "deviceCategory",
                                        "deviceId",
                                        "deviceMetadata",
                                        "deviceOwnership",
                                        "deviceVersion",
                                        "displayName",
                                        "domainName",
                                        "enrollmentProfileName",
                                        "enrollmentType",
                                        "externalSourceName",
                                        "isCompliant",
                                        "isManaged",
                                        "isRooted",
                                        "managementType",
                                        "manufacturer",
                                        "mdmAppId",
                                        "model",
                                        "onPremisesLastSyncDateTime",
                                        "onPremisesSyncEnabled",
                                        "operatingSystem",
                                        "operatingSystemVersion",
                                        "physicalIds",
                                        "profileType",
                                        "registrationDateTime",
                                        "sourceType",
                                        "systemLabels",
                                        "trustType",
                                        "extensionAttributes",
                                        "alternativeSecurityIds"
                                    ]
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "HTTP-copy": [
                        "Succeeded"
                    ]
                }
            },
            "array_of_noncompliant_devices": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "noncompliant",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {}
            },
            "PATCH_deviceid": {
                "type": "Foreach",
                "foreach": "@outputs('Parse_JSON')?['body']?['value']",
                "actions": {
                    "apply_patch_to_deviceid": {
                        "type": "Http",
                        "inputs": {
                            "uri": "https://graph.microsoft.com/v1.0/devices/@{items('PATCH_deviceid')?['id']}",
                            "method": "PATCH",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "extensionAttributes": {
                                    "extensionAttribute1": "non-compliant"
                                }
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://graph.microsoft.com"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {}
        }
    }
}
